/* defaults */

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Helvetica Neue", "Segoe UI", Calibri, sans-serif;
  font-weight: 200;
  line-height: 135%;
  text-rendering: optimizeLegibility;
  color: #000;
}

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: 200%;
  color: #444;
}

h2 {
  font-size: 150%;
  color: #777;
}

h3 {
  font-size: 100%;
  color: #666;
}

h4 {
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 120%;
  font-weight: 400;
  color: #222;
}

h6 {
  font-size: 100%;
  font-style: italic;
  font-weight: 200;
  color: #555;
}

blockquote {
  padding: 0.2em 1.4em;
  border-left: thick solid lightgray;
  margin: 1em 0;
}

blockquote p {
  margin: 0.7em 0;
}

hr {
  margin: 1.4em 0;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

legend {
  margin-bottom: 0.2em;
  font-weight: 300;
  color: #888;
}

input {
  min-width: 40%;
  padding: 0.4em 0.5em;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px #ddd;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: inherit;
  font-family: inherit;
}

button {
  padding: 0.4em 0.8em;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 100%;
  font-weight: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  background-color: #0078e7;
}

button:hover, button:focus {
  outline: 0;
  filter: alpha(opacity=90);
  background-image: linear-gradient(transparent, rgba(0,0,0, 0.1) 40%, rgba(0,0,0, 0.2));
}

button:active {
  border-color: #000\9;
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.1) inset, 0 0 6px rgba(0,0,0, 0.2) inset;
}

a, a:visited {
  text-decoration: none;
  color: steelblue;
}

a:hover {
  text-decoration: underline;
}

b, strong {
  font-weight: 600;
}


/* layout */

header, main, footer {
  max-width: 42em;
  margin: 0 auto;
}

h1, h6, article, form {
  margin: 0;
  padding: 1em 10%;
}


/* header */

h1 {
  height: 0.7em;
  margin-top: 1em;
}

h1 a, h1 a:visited {
  color: #444;
}

h1 a#home {
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h1 a#hash {
  display: none;
  font-size: 80%;
  font-weight: 200;
}

h1 a#hash, h1 a#hash:visited {
  color: powderblue;
}

h1 a#hash span, h1 a#hash:visited span {
  color: lightsteelblue;
}

h1 a#hash:hover {
  text-decoration: none;
}

h1 a#hash:hover span {
  text-decoration: underline;
}

h6 {
  margin-top: -1em;
  padding-top: 0;
  padding-bottom: 2em;
}


/* main */

h2 {
  position: relative;
  margin: 0;
}

h3 {
  margin-top: 0;
}

h2 a, h2 a:visited {
  color: #aaa;
}

img {
  width: 100%;
  margin: 1em 0;
}

.no-js .tags {
  display: none;
}

.tags {
  display: inline;
  padding: 0;
}

.tags li {
  display: inline-block;
  margin-right: 0.4em;
  list-style-type: none;
}

.tags li:before {
  content: " · ";
  color: #aaa;
}

.tags a, .tags a:visited {
  color: powderblue;
}

.tags a span, .tags a:visited span {
  color: lightsteelblue;
}

.tags a:hover {
  text-decoration: none;
}

.tags a:hover span {
  text-decoration: underline;
}
