<!DOCTYPE html>

<head>

<meta charset=utf-8>
<meta name=viewport content="width=device-width, user-scalable=no">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
<link rel=stylesheet href=/style.css>
<!--[if lt IE 9]><script src=/html5shiv.js></script><![endif]-->

<body class=no-js>

<script>
  if (!window.html5 /* ![lt IE 9] */) {
    document.body.className = ''
  }
</script>

<header>
  <h1>
    <a id=home href=/>{{ site.name }}</a>
    <a id=hash></a>
  </h1>
</header>

<main>
  {{ content }}
</main>

<script>
  if (location.href.slice(location.href.length - 10) === 'index.html') {
    if (history && history.replaceState) {
      history.replaceState(null, '', location.href.slice(0, location.href.length - 10))
    } else {
      location.replace(location.href.slice(0, location.href.length - 10))
    }
  }
</script>
